<h3>Send mail to volunteers</h3>
<p>Write a message you would like to mail to these addresses below.</p>

<form method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <textarea name="message" placeholder="Message..." cols="100" rows="20"></textarea><br><br>
    <input type="Submit" value="Send"/>
</form>

{% if latest_mail %}
    <ul>
    {% for mail in latest_mail %}
        {{ mail.mail_address }}<br>
    {% endfor %}
    </ul>
{% else %}
    <p>No mails are available.</p>
{% endif %}